@CHARSET "UTF-8";
body{width:100%;height:100%;margin:0}
header{width:100%;height:22px;margin:0;background-color:#0476B4}
section{position:absolute;top:22px;bottom:0;width:100%}
#head_word{font-size:14px;color:white;}
#head_time{font-size:14px;color:white;float:right;}
#main_left{float:left;height:100%;width:12%;background-color:#D8D8D8}
#main_center{float:left;height:100%;width:88%;background-image:url(../images/background.gif)}
ul{list-style:none;width:100%;margin:0;padding:0;}
li{text-align:center;margin:25px;font-size:12px;background-color:white}
iframe{width:100%;height:100%}