@CHARSET "UTF-8";
#detail{margin-left:20%}
#general{margin-left:20%}
table{width:100%;cellspacing:0;border-right:1px solid black;border-bottom:1px solid black}
table td{border-left:1px solid black;border-top:1px solid black} 
th{background-color:#0976AF}
td{text-align:center}
.row0{background-color:#ECECEC}
.row1{background-color:#C9DAE2}
.pay1{background-color:#C9DAE2}